#main-div {
  flex-direction: column;
  border: 2px solid black;
  background-color: rgb(181, 181, 218);
  width: fit-content;
  position: absolute;
  left: 250px;
}
.headline{
  display: flex;
  justify-content: center;
  color: goldenrod;
  font-size: xx-large;;
}

 #measurementType{
   display: flex;
   background-color: goldenrod;
 }
 #main-typeconversion-div{
   display: flex;
 }
 #equalIcon{
  display: flex;
  margin-top: 12%;
  width: 16px;
  height: 10px;
 }
 #formula-label{
   flex-direction: row;
   background-color: #f9a825;
   color: white;
   font-weight: bold;
   padding: 8px;
   border-radius: 5px;
 }
 select#measurementType {
   background: whiteSmoke;
 }