.App {
  text-align: center;
}

.main-div{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.MainHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.search-div{
  display: flex;
}

#search{
  border: 1px solid #aaa;
  outline: none;
  height: 30px;
  width: 600px;
  border-radius: 6px;
  position: relative;
  left: 60px;
}

.note-div{
  /* position: relative;
  top: 90px;   */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 350px;
}

.title-note-div{
  display: flex;
  flex-direction: column;
  border: outset;
  border-radius: 6px;
}

.notes-display-div{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
  justify-content: center; 
}
.note-card{
  margin: 10px;
  border: outset;
  width: 300px;
}

.note-btn-div{
  display:flex;
  justify-content: space-between;
  width:100%;
}

.sub-btn-div{
  display: flex;
}

.edit-note-div{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input[type="text"] {
  border-radius: 6px;
  width: 500px;
  border: outset;
}

.MuiButton-outlined{
  border: 0px !important;
  outline: none !important;
}
.MuiInputBase-inputMultiline{
  height: 80px !important;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  top: 50px;
}

#AppHeader{
  width: 100%;
}
