.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-email-div{
  border: 1px solid #aaa;
    outline: none;
    height: 30px;
    padding-left: 3px;
    border-radius: 4px;
}
.email-div{
  padding: 5px;
}
.html-div{
  height:100%;
  width:100%;
}
div#root {
  height: 100%;
}
button.submit {
  border-radius: 4px;
  background-color: rgb(33, 221, 33);
  color: #fff;
  border: 1px solid green;
  outline: navajowhite;
}
.app-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-Test-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-div{
display: flex;
justify-content: center;
align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
